:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Cinzel', serif;
    --font-weight-light: 100;
    --font-weight-regular: 300;
    --font-weight-bold: 500;
    --font-weight-medium: 400;
    --background-color-dark: #5757579b;
    --background-color-light: #f4f4f4;
    --border-radius: 5px;
    --max-width: 100%;
    --min-padding: 2vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

.main-background, .miami-body, .orlando-body, .home-body, .tallahassee-body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-background { background-image: url('../images/home/overview-beach.jpg'); }
.miami-body { background-image: url('../images/miami/beach.jpg'); }
.orlando-body { background-image: url('../images/orlando/lake-eola.jpg'); }
.home-body { background-image: url('../images/home/overview-beach.jpg'); }
.tallahassee-body { background-image: url('../images/home/overview-beach.jpg'); }

body {
    font-family: var(--font-primary);
    position: relative;
    min-height: 100vh;
    margin: 0 min(4em, 8%);
    display: grid;
    align-content: space-between;
    grid-template-areas: 
    "nav"
    "header-aside-container"
    "section-stats"
    "section"
    "footer";
    grid-template-rows: auto auto auto auto auto;
}

.background {
    display: none;
}

html::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.83); 
    z-index: 1;
}

html > * {
    position: relative;
    z-index: 2;
}

.div-img {
    max-width: var(--max-width);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: min(2em, 8%) 0;
    letter-spacing: 3px;
}

.header-aside-container {
    grid-area: header-aside-container;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 3vw;
    align-items: center;
    gap: 5vw;
}

.header-aside-container header {
    font-family: var(--font-secondary);
    font-size: clamp(1em, calc(7vw + 1em), 5em);
    padding: min(1em, 3%) 0;
    letter-spacing: .1em;
}

.section-stats {
    grid-area: section-stats;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0, 2vw, 20px);
    margin: 0 3vw 1vw;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.stat-container {
    width: clamp(16px, 20vw, 150px);
    padding: var(--min-padding);
    min-width: fit-content;
    border-radius: 20px;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
    color: white;
    margin: 1vw 0;
}

.num {
    font-weight: var(--font-weight-medium);
    font-size: clamp(20px, 3vw, 24px);
}

.stat {
    font-weight: var(--font-weight-light);
    font-size: clamp(10px, 2.5vw, 18px);
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-weight: var(--font-weight-light);
    gap: 1vw;
    font-size: clamp(.40rem, calc(3vw + .1rem), 1rem);
}

nav > a {   
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: clamp(.5rem, calc(5vw + .1rem), 1.8rem);
}

nav a {
    text-decoration: none;
}

.header-aside-container aside {
    height: fit-content;
    font-size: clamp(14px, 1.8vw, 17px);
    font-weight: var(--font-weight-light);
}

.section-info {
    grid-area: section;
    display: grid;
    gap: 1rem;
    overflow: hidden;
}

.section-info div {
    overflow: hidden; 
    border-radius: 5px;
}

.section-info article {
    font-size: clamp(14px, 2vw, 19px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: var(--font-weight-light);
}

.info-heading {
    font-size: clamp(16px, 2vw, 48px);
    padding-bottom: min(1em, 2%);
    font-weight: var(--font-weight-regular);
}

.info-heading-table {
    padding-bottom: 5px;
    font-size: clamp(16px, 2vw, 48px);
    font-weight: var(--font-weight-regular);
}

.info-list {
    font-size: clamp(14px, 2vw, 17px);
    list-style: inside;
    width: 100%;
}

.info-list li {
    margin-bottom: 1vw;
}

.section-info div {
    aspect-ratio: 1/1;
}

.table {
    border-radius: var(--border-radius);
    border: 1px solid #ffffff49;
}

table.neighborhoods-table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ffffff56;
    padding: 2px 6px;
    text-align: left;
}

td {
    background-color: #0000002a;
    font-weight: var(--font-weight-light);
}

th {
    background-color: #0000006f;
    font-weight: var(--font-weight-regular);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: min(2em, 8%) 0;
    font-weight: var(--font-weight-light);
}

.icon {
    float: left;
    margin-right: 5px;
}

footer a {
    text-decoration: none;
}

.contact-container {
    padding: 0 min(10em, 15%);
}

.contact-form-section {
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contact-header {
    font-family: var(--font-secondary);
    grid-area: header-aside-container;
    font-size: clamp(16px, calc(10vw + 1em), 48px);
    text-align: center;
}

.contact-form label {
    font-weight: var(--font-weight-light);
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f7f7f72a;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #aaa;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ffffffb0;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
}

.tool-tip {
    position: relative; 
    cursor: pointer;
}

a {
    text-decoration-thickness: 1px;
}

.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 150px; 
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    background-color: #ffffff;
    color: #000000;
    text-align: center; 
    border-radius: 10px;
    padding: 5px; 
    position: absolute; 
    z-index: 1;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
    opacity: 0; 
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 450px) {
    nav {
        flex-direction: column;
        gap: 1vw;
    }
    nav ul {
        gap: 3vw;
    }
}

@media (max-width: 600px) {
    .contact-form-section {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 1200px){
    .header-aside-container {
        flex-direction: column;
        gap: 0;
    }
}

@media (min-aspect-ratio: 1/1) {
    .section-info {
        grid-template-columns: minmax(auto, 2fr) 1fr 1fr;
    }

    article {
        grid-column: 1 / 2; 
    }

    #img-1 {
        grid-column: 2 / 3; 
    }

    #img-2 {
        grid-column: 3 / 4; 
    }    
}

@media (max-width: 1500px) and (min-aspect-ratio: 6/9) {
    .section-info {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: minmax( 1fr, auto) 2fr;
        gap: 1rem; 
    }

    article {
        grid-row: 1 / 2; 
        grid-column: 1 / 3;
    }

    #img-1, #img-2 {
        grid-row: 2 / 3;
        object-fit: cover; 
    }

    #img-2 {
        grid-column: 2 / 3; 
    }

    #img-1 {
        grid-column: 1 / 2; 
    }   
}
